.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
 
}
img{
    width: 40%;
    height: 40%;
}

.left{
    display: flex;
    flex-basis: 0;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
 
}

/* .right{
    display: flex;
    align-items: center;
    justify-content: space-between;
     
} */

 .right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button{
    cursor: pointer;
    margin: 10px;
    /* background-color: grey; */
}
.button1{
    background-color: grey;
}
.button1:hover{
    color: green;

}

.textbox{
    height: 15%;

}


.main-container{
    display: flex;
    flex-flow: row;
    flex-basis: 0;
    width: 100%;
}
.filter{
    display: flex;
    flex-flow: column;
    border-style:solid;
    width: 20%;
    padding-left: 2%;
    /* background-color: whitesmoke; */
    
}
.filter p{
    color: aqua;
    width: 20%;
}

.products{
    display: flex;
    flex-flow: column;
    border-style:solid;
    width:100% ;
}
.products1{
    display: block;
    overflow-x: scroll;
    border-style:solid;
}
.inside{
    display: flex;
    justify-content: normal;
    padding-left: 10%;
    border-style:solid;

}

.pimg{
    width: 30%;
    height: 30%;
}
.text{
    padding: 10%;
    
    color: aqua;
}
